## <font color='Green'>USA Airline Analysis - Cancelled and Not-Cancelled</font>

In [1]:
import pandas as pd
#variable-descriptions.csv
#plane_tech_df-data.csv
#carriers.csv
#airports.csv
#2008.csv

#### <font color='blue'>Contains informaiton of abbrevations used in this data. Some are modified</font>

In [2]:
meta_info = pd.read_csv('/Users/shrinivasd/Desktop/Bootcamp/EDA/AirLineUSAEDA/variable-descriptions.csv')
meta_info.rename(columns={'Unnamed: 1':'Col1','Unnamed: 2':'Col2'},inplace = True)

from pandas import option_context
with option_context('display.max_colwidth', 5000):
    display(meta_info.head(54))

,Variable descriptions,Col1,Col2
0,NaN,NaN,NaN
1,NaN,Name,Description
2,1.0,Year,1987-2008
3,2.0,Month,12-Jan
4,3.0,DayofMonth,31-Jan
5,4.0,DayOfWeek,1 (Monday) - 7 (Sunday)
6,5.0,DepTime,"actual departure time (local, hhmm)"
7,6.0,CRSDepTime,"scheduled departure time (local, hhmm)"
8,7.0,ArrTime,"actual arrival time (local, hhmm)"
9,8.0,CRSArrTime,"scheduled arrival time (local, hhmm)"
10,9.0,UniqueCarrier,unique carrier code
11,10.0,FlightNum,flight number
12,11.0,TailNum,plane tail number
13,12.0,ActualElapsedTime,in minutes
14,13.0,CRSElapsedTime,in minutes
15,14.0,AirTime,in minutes
16,15.0,ArrDelay,"arrival delay, in minutes"
17,16.0,DepDelay,"departure delay, in minutes"
18,17.0,Origin,origin IATA airport code
19,18.0,Dest,destination IATA airport code
20,19.0,Distance,in miles
21,20.0,TaxiIn,"taxi in time, in minutes"
22,21.0,TaxiOut,taxi out time in minutes
23,22.0,Cancelled,was the flight cancelled?
24,23.0,CancellationCode,"reason for cancellation (A = carrier, B = weather, C = NAS, D = security)"
25,24.0,Diverted,"1 = yes, 0 = no"
26,25.0,CarrierDelay,in minutes
27,26.0,WeatherDelay,in minutes
28,27.0,NASDelay,in minutes
29,28.0,SecurityDelay,in minutes
30,29.0,LateAircraftDelay,in minutes

#### <font color='blue'>Contains informaiton of all plane_tech_df types , Check TailNUM column</font>

In [3]:
plane_tech_df = pd.read_csv('/Users/shrinivasd/Desktop/Bootcamp/EDA/AirLineUSAEDA/plane-data.csv')
plane_tech_df.head(2)

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N050AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N051AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### <font color='blue'>Contains informaiton of all carriers types , Check Code column</font>

In [4]:
carriers = pd.read_csv('/Users/shrinivasd/Desktop/Bootcamp/EDA/AirLineUSAEDA/carriers.csv')
carriers.head(2)

  Code         Description
0  02Q       Titan Airways
1  04Q  Tradewind Aviation

In [5]:
carriers['Description'].unique()

array(['Titan Airways', 'Tradewind Aviation', 'Comlux Aviation, AG', ...,
       'Airbc Ltd.', 'Atlantic Gulf Airlines', 'Skyway Aviation Inc.'],
      dtype=object)

#### <font color='blue'>Contains informaiton of all airports, check city, state details</font>

In [6]:
airports = pd.read_csv('/Users/shrinivasd/Desktop/Bootcamp/EDA/AirLineUSAEDA/airports.csv')
airports.head(2)

  iata               airport         city state country        lat       long
0  00M              Thigpen   Bay Springs    MS     USA  31.953765 -89.234505
1  00R  Livingston Municipal   Livingston    TX     USA  30.685861 -95.017928

In [7]:
airports['country'].unique()

array(['USA', 'Thailand', 'Palau', 'N Mariana Islands',
       'Federated States of Micronesia'], dtype=object)

#### <font color='blue'>Contains 2008 Airline data, used display.max_columns</font>

In [8]:
pd.set_option('display.max_columns', None)
data_raw = pd.read_csv('/Users/shrinivasd/Desktop/Bootcamp/EDA/AirLineUSAEDA/2008.csv')
data_raw.shape

(2389217, 29)

#### <font color='blue'>Clean up data for EDA </font>

In [9]:
data_raw.drop_duplicates(keep=False, inplace=True)
data_raw=data_raw.dropna(subset=['ActualElapsedTime','CRSElapsedTime'])
data_raw = data_raw.loc[data_raw["AirTime"] >= 10 ]
data_raw.shape

(2318967, 29)

In [10]:
data_raw.head(2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,LIT,393,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,N523SW,82.0,85.0,71.0,2.0,5.0,HOU,MAF,441,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

#### <font color='blue'>Write a function to get name weekdays from weekday number</font>

In [1]:
week_day =  {0:'Mon',1:'Tue',2:'Wed',3:'Thru',4:'Fri',5:'Sat',6:'Sun'}

def getweekname(n):
    for key, value in week_day.items():
        if key == n:
            return value
        
data_raw["WeekDay"] = data_raw["DayOfWeek"].apply(getweekname)

data_raw.head(2)

NameError: name 'data_raw' is not defined

#### <font color='blue'>Get the Carrier code and merge with Raw data</font>

In [12]:
data_raw = data_raw.merge(carriers, left_on='UniqueCarrier', right_on='Code', how='inner')

In [13]:
data_raw.head(2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,WeekDay,Code,Description
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,LIT,393,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0,Thru,WN,Southwest Airlines Co.
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,N523SW,82.0,85.0,71.0,2.0,5.0,HOU,MAF,441,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Thru,WN,Southwest Airlines Co.

#### <font color='blue'>Get the Plane-Tech-Info info and merge with Raw data</font>

In [14]:
data_raw = data_raw.merge(plane_tech_df, left_on='TailNum', right_on='tailnum', how='inner')
data_raw.head(2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,WeekDay,Code,Description,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,LIT,393,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0,Thru,WN,Southwest Airlines Co.,N240WN,Corporation,BOEING,07/11/2006,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006
1,2008,1,3,4,1758.0,1800,1854.0,1900,WN,41,N240WN,56.0,60.0,45.0,-6.0,-2.0,HOU,MSY,303,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Thru,WN,Southwest Airlines Co.,N240WN,Corporation,BOEING,07/11/2006,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006

#### <font color='blue'>Get the origin and Destination Airport details with city / state and long latitude</font>

In [15]:
airports = pd.read_csv('/Users/shrinivasd/Desktop/Bootcamp/EDA/AirLineUSAEDA/airports.csv')
airports.columns = 'Origin_' + airports.columns.values
data_raw = data_raw.merge(airports, left_on='Origin', right_on='Origin_iata',how='inner')
data_raw.tail(2)

airports = pd.read_csv('/Users/shrinivasd/Desktop/Bootcamp/EDA/AirLineUSAEDA/airports.csv')
airports.columns = 'Dest_' + airports.columns.values
data_raw = data_raw.merge(airports, left_on='Dest', right_on='Dest_iata',how='inner')
data_raw.tail(2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,WeekDay,Code,Description,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year,Origin_iata,Origin_airport,Origin_city,Origin_state,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_city,Dest_state,Dest_country,Dest_lat,Dest_long
2234877,2008,4,29,2,1703.0,1650,1730.0,1716,AS,162,N791AS,27.0,26.0,19.0,14.0,13.0,AKN,DLG,71,5.0,3.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Tue,AS,Alaska Airlines Inc.,N791AS,Corporation,BOEING,08/08/1997,737-490,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1997,AKN,King Salmon,King Salmon,AK,USA,58.676802,-156.649217,DLG,Dillingham,Dillingham,AK,USA,59.045412,-158.503339
2234878,2008,4,28,1,1718.0,1650,1742.0,1716,AS,162,N762AS,24.0,26.0,18.0,26.0,28.0,AKN,DLG,71,2.0,4.0,0,NaN,0,26.0,0.0,0.0,0.0,0.0,Mon,AS,Alaska Airlines Inc.,N762AS,Corporation,BOEING,12/24/1998,737-4Q8,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992,AKN,King Salmon,King Salmon,AK,USA,58.676802,-156.649217,DLG,Dillingham,Dillingham,AK,USA,59.045412,-158.503339

#### <font color='blue'>Get better names for columns </font>

In [16]:
data_raw.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'WeekDay', 'Code', 'Description', 'tailnum', 'type', 'manufacturer',
       'issue_date', 'model', 'status', 'aircraft_type', 'engine_type', 'year',
       'Origin_iata', 'Origin_airport', 'Origin_city', 'Origin_state',
       'Origin_country', 'Origin_lat', 'Origin_long', 'Dest_iata',
       'Dest_airport', 'Dest_city', 'Dest_state', 'Dest_country', 'Dest_lat',
       'Dest_long'],
      dtype='object')

In [17]:
data_raw.rename(columns = {
    'CRSDepTime':'SchdDepTime',
    'ArrTime':'ActlArrTime',
    'CRSArrTime':'SchdArrTime',
    'DepTime':'ActlDepTime',
    'ActualElapsedTime':'TotalJourneyTime',
    'CRSElapsedTime':'SchdJourneyTime',
    'DepDelay':'SchdDepDelay',
    'ArrDelay':'TotalDelayInArrival_mins',
    'year':'plane_build_year',
    'Code':'CarrierCode'
}, inplace = True)
data_raw.head(2)

,Year,Month,DayofMonth,DayOfWeek,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,UniqueCarrier,FlightNum,TailNum,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,WeekDay,CarrierCode,Description,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year,Origin_iata,Origin_airport,Origin_city,Origin_state,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_city,Dest_state,Dest_country,Dest_lat,Dest_long
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,LIT,393,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0,Thru,WN,Southwest Airlines Co.,N240WN,Corporation,BOEING,07/11/2006,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246
1,2008,1,21,1,1905.0,1840,2030.0,1950,WN,1561,N623SW,85.0,70.0,57.0,40.0,25.0,HOU,LIT,393,5.0,23.0,0,NaN,0,25.0,0.0,15.0,0.0,0.0,Mon,WN,Southwest Airlines Co.,N623SW,Corporation,BOEING,07/18/1996,737-3H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1996,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246

## <font color='blue'>Seperate Cancelled and Non_Cancelled in Seperate dataframes </font>

In [18]:
data_raw.groupby(by='Cancelled').size()

Cancelled
0    2234879
dtype: int64

In [19]:
plane_canc = data_raw[data_raw['Cancelled'] == 1]
plane_canc.shape

(0, 55)

In [20]:
plane_oper = data_raw[data_raw['Cancelled'] == 0]
plane_oper.shape

(2234879, 55)

In [21]:
plane_canc_df = plane_canc.groupby(['Description']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'CANCcount'})
plane_canc_df.head(8)

Empty DataFrame
Columns: [Description, CANCcount]
Index: []

In [22]:
plane_oper_df = plane_oper.groupby(['Description']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'OperCount'})
plane_oper_df.head(8)

                                         Description  OperCount
0                             Southwest Airlines Co.     393730
1                             American Airlines Inc.     193114
2                              Skywest Airlines Inc.     187868
3                       American Eagle Airlines Inc.     158426
4  US Airways Inc. (Merged with America West 9/05...     150891
5                              United Air Lines Inc.     149156
6                               Delta Air Lines Inc.     147987
7                           Expressjet Airlines Inc.     134441

#### <font color='blue'> Planes Cancelled ratio

In [23]:
plane_oper_ratio = plane_oper_df.merge(plane_canc_df, on='Description', how = 'left')
plane_oper_ratio['CANCcount'] = plane_oper_ratio['CANCcount'].fillna(0)
plane_oper_ratio.round(2).sort_values('CANCcount', ascending = False)

                                          Description  OperCount  CANCcount
0                              Southwest Airlines Co.     393730        0.0
10                        Atlantic Southeast Airlines      89815        0.0
17                             Hawaiian Airlines Inc.      18262        0.0
16                             Frontier Airlines Inc.      30551        0.0
15                               Alaska Airlines Inc.      48852        0.0
14                                    JetBlue Airways      66377        0.0
13                                        Comair Inc.      69159        0.0
12                                 Mesa Airlines Inc.      80352        0.0
11                        AirTran Airways Corporation      85707        0.0
9                          Continental Air Lines Inc.     101394        0.0
1                              American Airlines Inc.     193114        0.0
8                             Northwest Airlines Inc.     121162        0.0
7                            Expressjet Airlines Inc.     134441        0.0
6                                Delta Air Lines Inc.     147987        0.0
5                               United Air Lines Inc.     149156        0.0
4   US Airways Inc. (Merged with America West 9/05...     150891        0.0
3                        American Eagle Airlines Inc.     158426        0.0
2                               Skywest Airlines Inc.     187868        0.0
18                                Aloha Airlines Inc.       7635        0.0

In [24]:
plane_oper_ratio['CNCL_Ratio'] = (plane_oper_ratio['CANCcount'] / plane_oper_ratio['OperCount'])*100
plane_oper_ratio.round(2).sort_values('CNCL_Ratio', ascending = False)

,Description,OperCount,CANCcount,CNCL_Ratio
0,Southwest Airlines Co.,393730,0.0,0.0
10,Atlantic Southeast Airlines,89815,0.0,0.0
17,Hawaiian Airlines Inc.,18262,0.0,0.0
16,Frontier Airlines Inc.,30551,0.0,0.0
15,Alaska Airlines Inc.,48852,0.0,0.0
14,JetBlue Airways,66377,0.0,0.0
13,Comair Inc.,69159,0.0,0.0
12,Mesa Airlines Inc.,80352,0.0,0.0
11,AirTran Airways Corporation,85707,0.0,0.0
9,Continental Air Lines Inc.,101394,0.0,0.0
1,American Airlines Inc.,193114,0.0,0.0
8,Northwest Airlines Inc.,121162,0.0,0.0
7,Expressjet Airlines Inc.,134441,0.0,0.0
6,Delta Air Lines Inc.,147987,0.0,0.0
5,United Air Lines Inc.,149156,0.0,0.0
4,US Airways Inc. (Merged with America West 9/05...,150891,0.0,0.0
3,American Eagle Airlines Inc.,158426,0.0,0.0
2,Skywest Airlines Inc.,187868,0.0,0.0
18,Aloha Airlines Inc.,7635,0.0,0.0

#### <font color='blue'> Get Cancel reasons

In [25]:
cancle_code = {'A':'CarrierIssue', 'B':'BadWeather', 'C': 'NationalAviationSys', 'D': 'SecurityDelayed'}

def getcanceldetails(n):
    for keys, values in cancle_code.items():
        if n == keys:
            return values
        
plane_canc["CancellationReasons"] = plane_canc["CancellationCode"].apply(getcanceldetails)
plane_canc.head(4)

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, ActlDepTime, SchdDepTime, ActlArrTime, SchdArrTime, UniqueCarrier, FlightNum, TailNum, TotalJourneyTime, SchdJourneyTime, AirTime, TotalDelayInArrival_mins, SchdDepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, WeekDay, CarrierCode, Description, tailnum, type, manufacturer, issue_date, model, status, aircraft_type, engine_type, plane_build_year, Origin_iata, Origin_airport, Origin_city, Origin_state, Origin_country, Origin_lat, Origin_long, Dest_iata, Dest_airport, Dest_city, Dest_state, Dest_country, Dest_lat, Dest_long, CancellationReasons]
Index: []

#### <font color='blue'> Find routes which had hightest cancellation of planes

In [26]:
plane_canc["RouteKey"] = plane_canc['Origin_city']+'('+plane_canc['Origin_state']+')'+' TO '+plane_canc['Dest_city']+'('+plane_canc['Dest_state']+')'  
plane_canc.head(2)

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, ActlDepTime, SchdDepTime, ActlArrTime, SchdArrTime, UniqueCarrier, FlightNum, TailNum, TotalJourneyTime, SchdJourneyTime, AirTime, TotalDelayInArrival_mins, SchdDepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, WeekDay, CarrierCode, Description, tailnum, type, manufacturer, issue_date, model, status, aircraft_type, engine_type, plane_build_year, Origin_iata, Origin_airport, Origin_city, Origin_state, Origin_country, Origin_lat, Origin_long, Dest_iata, Dest_airport, Dest_city, Dest_state, Dest_country, Dest_lat, Dest_long, CancellationReasons, RouteKey]
Index: []

In [27]:
plane_canc.groupby(['CancellationReasons','Description']).size().reset_index().rename(columns={0:'Count'}).sort_values(['Count'], ascending = False)

Empty DataFrame
Columns: [CancellationReasons, Description, Count]
Index: []

In [28]:
plane_canc_route = plane_canc.groupby(['RouteKey','CancellationReasons','Description']).size().reset_index().rename(columns={0:'Count'}).sort_values('Count',ascending = False)
plane_canc_route[(plane_canc_route['Count'] > 60)]

Empty DataFrame
Columns: [RouteKey, CancellationReasons, Description, Count]
Index: []

#### <font color='blue'> Top 5 planes cancelled and Major reasons

In [29]:
Top_Cancelled_list = [
'Mesa Airlines Inc.'
,'Skywest Airlines Inc.'
,'Atlantic Southeast Airlines'
,'Delta Air Lines Inc.'
,'Alaska Airlines Inc.'
]

Top_Cancelled_Flights = plane_canc.query('Description in @Top_Cancelled_list')
Top_Cancelled_Flights.groupby(['Description','CancellationReasons']).size().reset_index().rename(columns={0:'Count'}).sort_values(['Description','Count','CancellationReasons'], ascending=[True, False, False])

Empty DataFrame
Columns: [Description, CancellationReasons, Count]
Index: []

#### <font color='blue'> Plane Technical details of planes cancelled due to CarrierIssue

In [30]:
CarrierIssue_df = plane_canc[plane_canc['CancellationReasons'] == 'CarrierIssue']
CarrierIssue_df.head()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, ActlDepTime, SchdDepTime, ActlArrTime, SchdArrTime, UniqueCarrier, FlightNum, TailNum, TotalJourneyTime, SchdJourneyTime, AirTime, TotalDelayInArrival_mins, SchdDepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, WeekDay, CarrierCode, Description, tailnum, type, manufacturer, issue_date, model, status, aircraft_type, engine_type, plane_build_year, Origin_iata, Origin_airport, Origin_city, Origin_state, Origin_country, Origin_lat, Origin_long, Dest_iata, Dest_airport, Dest_city, Dest_state, Dest_country, Dest_lat, Dest_long, CancellationReasons, RouteKey]
Index: []

In [31]:
CarrierIssue_model_df = CarrierIssue_df.groupby(by=['manufacturer']).size().reset_index().rename(columns={0:'PlaneModelCNCCnt'})
CarrierIssue_model_df[CarrierIssue_model_df['PlaneModelCNCCnt'] > 170].sort_values('PlaneModelCNCCnt', ascending = False)

Empty DataFrame
Columns: [manufacturer, PlaneModelCNCCnt]
Index: []

In [32]:
CarrierIssue_model_df = CarrierIssue_df.groupby(by=['manufacturer','model','plane_build_year']).size().reset_index().rename(columns={0:'PlaneModelCNCCnt'})
CarrierIssue_model_df[CarrierIssue_model_df['PlaneModelCNCCnt'] > 170].sort_values('PlaneModelCNCCnt', ascending = False)

Empty DataFrame
Columns: [manufacturer, model, plane_build_year, PlaneModelCNCCnt]
Index: []

In [33]:
CarrierIssue_model_df = CarrierIssue_df.groupby(by=['manufacturer','model','plane_build_year']).size().reset_index().rename(columns={0:'PlaneModelCNCCnt'})
CarrierIssue_model_df = CarrierIssue_model_df[(CarrierIssue_model_df['plane_build_year'] != '0000')& (CarrierIssue_model_df['plane_build_year'] != 'None')]

In [34]:
CarrierIssue_model_df[CarrierIssue_model_df['PlaneModelCNCCnt'] ==1].sort_values('plane_build_year', ascending = True)

Empty DataFrame
Columns: [manufacturer, model, plane_build_year, PlaneModelCNCCnt]
Index: []

#### <font color='blue'> Plane Models - Cancelled vs Not Cancelled Ratio

In [35]:
plane_canc_mfg_df = plane_canc.groupby(['manufacturer','model','plane_build_year']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'CANCcount'})
plane_canc_mfg_df.head(3)

Empty DataFrame
Columns: [manufacturer, model, plane_build_year, CANCcount]
Index: []

In [36]:
plane_oper_mfg_df = plane_oper.groupby(['manufacturer','model','plane_build_year']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'OperCount'})
plane_oper_mfg_df.head(3)

     manufacturer        model plane_build_year  OperCount
0  BOMBARDIER INC  CL-600-2B19             2003      48482
1          BOEING      737-7H4             2004      36287
2  BOMBARDIER INC  CL-600-2B19             2002      34019

In [37]:
plane_oper_mfg_ratio = plane_oper_mfg_df.merge(plane_canc_mfg_df, on=['manufacturer','model','plane_build_year'], how = 'left')
plane_oper_mfg_ratio['CANCcount'] = plane_oper_mfg_ratio['CANCcount'].fillna(0)
plane_oper_mfg_ratio['CANCcount'] = plane_oper_mfg_ratio['CANCcount'].astype(int)
plane_oper_mfg_ratio.round(0).sort_values('CANCcount', ascending = False)

         manufacturer        model plane_build_year  OperCount  CANCcount
0      BOMBARDIER INC  CL-600-2B19             2003      48482          0
405            BOEING      737-76N             2001        565          0
389            BOEING      767-332             1993        661          0
390            BOEING      767-332             1987        655          0
391            BOEING      757-324             2002        651          0
..                ...          ...              ...        ...        ...
197            BOEING      737-832             1999       3187          0
198            BOEING      737-3Y0             1986       3185          0
199    BOMBARDIER INC   CL600-2D24             2007       3179          0
200  AIRBUS INDUSTRIE     A320-232             1997       3111          0
589            BOEING      747-422             2000          1          0

[590 rows x 5 columns]

In [38]:
plane_oper_mfg_ratio['CNCL_Ratio'] = (plane_oper_mfg_ratio['CANCcount'] / plane_oper_mfg_ratio['OperCount'])*100
plane_oper_mfg_ratio = plane_oper_mfg_ratio[(plane_oper_mfg_ratio['plane_build_year'] != '0000')& (plane_oper_mfg_ratio['plane_build_year'] != 'None')& (plane_oper_mfg_ratio['OperCount'] > 123)]
plane_oper_mfg_ratio.round(2).sort_values(['plane_build_year','OperCount','CANCcount'], ascending = [True,False,False])

,manufacturer,model,plane_build_year,OperCount,CANCcount,CNCL_Ratio
531,DOUGLAS,DC-7BF,1956,124,0,0.0
507,CESSNA,182A,1957,236,0,0.0
472,CESSNA,150,1959,411,0,0.0
484,DEHAVILLAND,OTTER DHC-3,1959,368,0,0.0
467,CESSNA,421C,1962,424,0,0.0
...,...,...,...,...,...,...
384,BOEING,737-924ER,2008,704,0,0.0
397,AIRBUS,A320-232,2008,612,0,0.0
422,BOEING,737-890,2008,504,0,0.0
486,BOEING,737-824,2008,350,0,0.0
528,AIRBUS,A320-214,2008,142,0,0.0

#### <font color='blue'> Origin City wise data

In [39]:
data_raw.groupby(['Origin_city']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'OriginCityCNT'}).head(5)

         Origin_city  OriginCityCNT
0            Chicago         138856
1            Atlanta         132446
2  Dallas-Fort Worth          88358
3            Houston          79003
4             Denver          76952

#### <font color='blue'> Dest City wise data

In [40]:
data_raw.groupby(['Dest_city']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'DestcityCNT'}).head(5)

           Dest_city  DestcityCNT
0            Chicago       138311
1            Atlanta       132123
2  Dallas-Fort Worth        87928
3            Houston        78850
4             Denver        76938

#### <font color='blue'> Origin and Dest City Most combination wise data

In [41]:
data_raw.groupby(['Origin_city','Dest_city']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'OrigDestcityCNT'}).head(10)

     Origin_city      Dest_city  OrigDestcityCNT
0       New York         Boston             6004
1         Boston       New York             5927
2        Houston         Dallas             4536
3         Dallas        Houston             4518
4       New York      Arlington             4492
5      Arlington       New York             4485
6  San Francisco    Los Angeles             4456
7        Chicago       New York             4405
8    Los Angeles  San Francisco             4340
9       New York        Chicago             4328

In [42]:
data_raw.groupby(['WeekDay']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'WeekDayCNT'}).head(10)

  WeekDay  WeekDayCNT
0     Wed      341591
1     Tue      333282
2    Thru      328112
3     Fri      326088
4     Mon      325460
5     Sun      309954
6     Sat      270392

In [43]:
data_raw.head(2)

,Year,Month,DayofMonth,DayOfWeek,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,UniqueCarrier,FlightNum,TailNum,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,WeekDay,CarrierCode,Description,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year,Origin_iata,Origin_airport,Origin_city,Origin_state,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_city,Dest_state,Dest_country,Dest_lat,Dest_long
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,LIT,393,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0,Thru,WN,Southwest Airlines Co.,N240WN,Corporation,BOEING,07/11/2006,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246
1,2008,1,21,1,1905.0,1840,2030.0,1950,WN,1561,N623SW,85.0,70.0,57.0,40.0,25.0,HOU,LIT,393,5.0,23.0,0,NaN,0,25.0,0.0,15.0,0.0,0.0,Mon,WN,Southwest Airlines Co.,N623SW,Corporation,BOEING,07/18/1996,737-3H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1996,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246

In [44]:
CarrierIssue_df.groupby(['engine_type','plane_build_year']).size().sort_values(ascending = False).reset_index().rename(columns={0: 'CNT'}).head(30)

Empty DataFrame
Columns: [engine_type, plane_build_year, CNT]
Index: []

## NON-Cancelled planes

##### <font color='blue'>Get the mile converted to kms </font>

In [45]:
plane_oper['DistanceInKM'] = plane_oper['Distance'].apply(lambda x : x * 1.609)
plane_oper.head(2)

,Year,Month,DayofMonth,DayOfWeek,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,UniqueCarrier,FlightNum,TailNum,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,WeekDay,CarrierCode,Description,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year,Origin_iata,Origin_airport,Origin_city,Origin_state,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_city,Dest_state,Dest_country,Dest_lat,Dest_long,DistanceInKM
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,LIT,393,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0,Thru,WN,Southwest Airlines Co.,N240WN,Corporation,BOEING,07/11/2006,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246,632.337
1,2008,1,21,1,1905.0,1840,2030.0,1950,WN,1561,N623SW,85.0,70.0,57.0,40.0,25.0,HOU,LIT,393,5.0,23.0,0,NaN,0,25.0,0.0,15.0,0.0,0.0,Mon,WN,Southwest Airlines Co.,N623SW,Corporation,BOEING,07/18/1996,737-3H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1996,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246,632.337

##### <font color='blue'>Convert Total time from minutes to hours </font>

In [46]:
plane_oper['TotalJourneyTimeHRs'] = plane_oper['TotalJourneyTime'].apply(lambda x : x /60)

##### <font color='blue'>Get Speed of plane_tech_df </font>

In [47]:
plane_oper['plane_tech_df_speed_in_km_hr'] = plane_oper['DistanceInKM']/plane_oper['TotalJourneyTimeHRs']

In [48]:
plane_oper.head()

,Year,Month,DayofMonth,DayOfWeek,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,UniqueCarrier,FlightNum,TailNum,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,WeekDay,CarrierCode,Description,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year,Origin_iata,Origin_airport,Origin_city,Origin_state,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_city,Dest_state,Dest_country,Dest_lat,Dest_long,DistanceInKM,TotalJourneyTimeHRs,plane_tech_df_speed_in_km_hr
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,LIT,393,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0,Thru,WN,Southwest Airlines Co.,N240WN,Corporation,BOEING,07/11/2006,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246,632.337,1.133333,557.944412
1,2008,1,21,1,1905.0,1840,2030.0,1950,WN,1561,N623SW,85.0,70.0,57.0,40.0,25.0,HOU,LIT,393,5.0,23.0,0,NaN,0,25.0,0.0,15.0,0.0,0.0,Mon,WN,Southwest Airlines Co.,N623SW,Corporation,BOEING,07/18/1996,737-3H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1996,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246,632.337,1.416667,446.355529
2,2008,3,2,7,1850.0,1840,1956.0,1950,WN,1561,N426WN,66.0,70.0,53.0,6.0,10.0,HOU,LIT,393,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Sun,WN,Southwest Airlines Co.,N426WN,Corporation,BOEING,10/08/2002,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246,632.337,1.100000,574.851818
3,2008,4,26,6,1857.0,1900,2002.0,2010,WN,3269,N507SW,65.0,70.0,54.0,-8.0,-3.0,HOU,LIT,393,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Sat,WN,Southwest Airlines Co.,N507SW,Corporation,BOEING,05/17/2004,737-5H4,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1990,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246,632.337,1.083333,583.695692
4,2008,2,7,4,1923.0,1840,2036.0,1950,WN,1561,N366SW,73.0,70.0,56.0,46.0,43.0,HOU,LIT,393,3.0,14.0,0,NaN,0,8.0,0.0,3.0,0.0,35.0,Thru,WN,Southwest Airlines Co.,N366SW,Corporation,BOEING,05/13/1993,737-3H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1993,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246,632.337,1.216667,519.729041

##### <font color='Orange'>Rearrange the column sequence</font>

In [49]:
plane_oper['DistanceInKM'] = plane_oper['DistanceInKM'].apply(lambda x: round(x))

In [50]:
plane_oper['TotalJourneyTimeHRs'] = plane_oper['TotalJourneyTimeHRs'].apply(lambda x: round(x,0))

In [51]:
plane_oper['plane_tech_df_speed_in_km_hr'] = plane_oper['plane_tech_df_speed_in_km_hr'].apply(lambda x: round(x))

In [52]:
plane_oper.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'ActlDepTime',
       'SchdDepTime', 'ActlArrTime', 'SchdArrTime', 'UniqueCarrier',
       'FlightNum', 'TailNum', 'TotalJourneyTime', 'SchdJourneyTime',
       'AirTime', 'TotalDelayInArrival_mins', 'SchdDepDelay', 'Origin', 'Dest',
       'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode',
       'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay', 'WeekDay', 'CarrierCode', 'Description', 'tailnum',
       'type', 'manufacturer', 'issue_date', 'model', 'status',
       'aircraft_type', 'engine_type', 'plane_build_year', 'Origin_iata',
       'Origin_airport', 'Origin_city', 'Origin_state', 'Origin_country',
       'Origin_lat', 'Origin_long', 'Dest_iata', 'Dest_airport', 'Dest_city',
       'Dest_state', 'Dest_country', 'Dest_lat', 'Dest_long', 'DistanceInKM',
       'TotalJourneyTimeHRs', 'plane_tech_df_speed_in_km_hr'],
      dtype='object')

In [53]:
plane_oper = plane_oper[[
'Year', 
'Month', 
'DayofMonth', 
'DayOfWeek', 
'DistanceInKM',
'TotalJourneyTimeHRs',
'plane_tech_df_speed_in_km_hr',
'ActlDepTime',
'SchdDepTime', 
'ActlArrTime', 
'SchdArrTime', 
'UniqueCarrier',
'FlightNum', 
'TailNum', 
'TotalJourneyTime', 
'SchdJourneyTime',
'AirTime', 
'TotalDelayInArrival_mins',
'SchdDepDelay', 
'Origin', 
'Dest',
'Distance', 
'TaxiIn', 
'TaxiOut', 
'Cancelled', 
'CancellationCode',
'Diverted',
'CarrierDelay', 
'WeatherDelay', 
'NASDelay', 
'SecurityDelay',
'LateAircraftDelay',
'WeekDay',
'CarrierCode', 
'Description', 
'tailnum',
'type', 
'manufacturer', 
'issue_date',
'model', 
'status',
'aircraft_type',
'engine_type', 
'plane_build_year',
'Origin_iata',
'Origin_airport',
'Origin_city', 
'Origin_state', 
'Origin_country',
'Origin_lat', 
'Origin_long', 
'Dest_iata',
'Dest_airport', 
'Dest_city',
'Dest_state',
'Dest_country', 
'Dest_lat', 
'Dest_long', 
]]

plane_oper.head(3)

,Year,Month,DayofMonth,DayOfWeek,DistanceInKM,TotalJourneyTimeHRs,plane_tech_df_speed_in_km_hr,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,UniqueCarrier,FlightNum,TailNum,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,WeekDay,CarrierCode,Description,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year,Origin_iata,Origin_airport,Origin_city,Origin_state,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_city,Dest_state,Dest_country,Dest_lat,Dest_long
0,2008,1,3,4,632,1.0,558,1343.0,1325,1451.0,1435,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,LIT,393,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0,Thru,WN,Southwest Airlines Co.,N240WN,Corporation,BOEING,07/11/2006,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246
1,2008,1,21,1,632,1.0,446,1905.0,1840,2030.0,1950,WN,1561,N623SW,85.0,70.0,57.0,40.0,25.0,HOU,LIT,393,5.0,23.0,0,NaN,0,25.0,0.0,15.0,0.0,0.0,Mon,WN,Southwest Airlines Co.,N623SW,Corporation,BOEING,07/18/1996,737-3H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1996,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246
2,2008,3,2,7,632,1.0,575,1850.0,1840,1956.0,1950,WN,1561,N426WN,66.0,70.0,53.0,6.0,10.0,HOU,LIT,393,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Sun,WN,Southwest Airlines Co.,N426WN,Corporation,BOEING,10/08/2002,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002,HOU,William P Hobby,Houston,TX,USA,29.645419,-95.278889,LIT,Adams,Little Rock,AR,USA,34.729396,-92.224246

##### <font color='red'>Subset of Columnes</font>

In [54]:
plane_oper_kpi_1 = plane_oper[[
    'Origin', 
    'Dest',
    'Distance', 
    'Year', 
    'Month', 
    'DayofMonth', 
    'DayOfWeek', 
    'WeekDay',
    'Description', 
    'DistanceInKM',
    'TotalJourneyTimeHRs',
    'plane_tech_df_speed_in_km_hr',
    'ActlDepTime',
    'SchdDepTime', 
    'ActlArrTime', 
    'SchdArrTime', 
    'TotalJourneyTime', 
    'SchdJourneyTime',
    'AirTime', 
    'TotalDelayInArrival_mins',
    'SchdDepDelay', 
    'UniqueCarrier',
    'FlightNum', 
    'TailNum', 
    'TaxiIn', 
    'TaxiOut', 
    'Diverted',
    'CarrierDelay', 
    'WeatherDelay', 
    'NASDelay', 
    'SecurityDelay',
    'LateAircraftDelay',
    'CarrierCode', 
    'Origin_city', 
    'Origin_state', 
    'Dest_city',
    'Dest_state',
    'Origin_iata',
    'Origin_airport',
    'Origin_country',
    'Origin_lat', 
    'Origin_long', 
    'Dest_iata',
    'Dest_airport', 
    'Dest_country', 
    'Dest_lat', 
    'Dest_long', 
    'tailnum',
    'type', 
    'manufacturer', 
    'issue_date',
    'model', 
    'status',
    'aircraft_type',
    'engine_type', 
    'plane_build_year'

]]

plane_oper_kpi_1.head()

,Origin,Dest,Distance,Year,Month,DayofMonth,DayOfWeek,WeekDay,Description,DistanceInKM,TotalJourneyTimeHRs,plane_tech_df_speed_in_km_hr,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,UniqueCarrier,FlightNum,TailNum,TaxiIn,TaxiOut,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,CarrierCode,Origin_city,Origin_state,Dest_city,Dest_state,Origin_iata,Origin_airport,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_country,Dest_lat,Dest_long,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year
0,HOU,LIT,393,2008,1,3,4,Thru,Southwest Airlines Co.,632,1.0,558,1343.0,1325,1451.0,1435,68.0,70.0,55.0,16.0,18.0,WN,588,N240WN,4.0,9.0,0,16.0,0.0,0.0,0.0,0.0,WN,Houston,TX,Little Rock,AR,HOU,William P Hobby,USA,29.645419,-95.278889,LIT,Adams,USA,34.729396,-92.224246,N240WN,Corporation,BOEING,07/11/2006,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006
1,HOU,LIT,393,2008,1,21,1,Mon,Southwest Airlines Co.,632,1.0,446,1905.0,1840,2030.0,1950,85.0,70.0,57.0,40.0,25.0,WN,1561,N623SW,5.0,23.0,0,25.0,0.0,15.0,0.0,0.0,WN,Houston,TX,Little Rock,AR,HOU,William P Hobby,USA,29.645419,-95.278889,LIT,Adams,USA,34.729396,-92.224246,N623SW,Corporation,BOEING,07/18/1996,737-3H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1996
2,HOU,LIT,393,2008,3,2,7,Sun,Southwest Airlines Co.,632,1.0,575,1850.0,1840,1956.0,1950,66.0,70.0,53.0,6.0,10.0,WN,1561,N426WN,4.0,9.0,0,NaN,NaN,NaN,NaN,NaN,WN,Houston,TX,Little Rock,AR,HOU,William P Hobby,USA,29.645419,-95.278889,LIT,Adams,USA,34.729396,-92.224246,N426WN,Corporation,BOEING,10/08/2002,737-7H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002
3,HOU,LIT,393,2008,4,26,6,Sat,Southwest Airlines Co.,632,1.0,584,1857.0,1900,2002.0,2010,65.0,70.0,54.0,-8.0,-3.0,WN,3269,N507SW,3.0,8.0,0,NaN,NaN,NaN,NaN,NaN,WN,Houston,TX,Little Rock,AR,HOU,William P Hobby,USA,29.645419,-95.278889,LIT,Adams,USA,34.729396,-92.224246,N507SW,Corporation,BOEING,05/17/2004,737-5H4,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1990
4,HOU,LIT,393,2008,2,7,4,Thru,Southwest Airlines Co.,632,1.0,520,1923.0,1840,2036.0,1950,73.0,70.0,56.0,46.0,43.0,WN,1561,N366SW,3.0,14.0,0,8.0,0.0,3.0,0.0,35.0,WN,Houston,TX,Little Rock,AR,HOU,William P Hobby,USA,29.645419,-95.278889,LIT,Adams,USA,34.729396,-92.224246,N366SW,Corporation,BOEING,05/13/1993,737-3H4,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1993

In [55]:
plane_oper_kpi_1.shape

(2234879, 56)

### <font color='Blue'>!!! Fun starts here with some MI's</font> 

- <font color='Blue'>Top 5 Longest distange flight</font> 
- <font color='green'>Top 5 Shortest distange flight</font> 
- <font color='Blue'>Top 5 Longest Time Taken flight</font> 
- <font color='green'>Top 5 Shortest Time Taken flight</font> 
- <font color='Blue'>Distance vs Time taken for flight</font> 
- <font color='green'>Airport with highest nos of flight</font> 
- <font color='Blue'>Most popular engine of flight</font> 
- <font color='green'>Higesth flights on given week-day</font> 
- <font color='Blue'>Least flights on given week-day</font>

<font color='Blue'></font> 



<font color='Blue'>Top 5 Longest distange flight</font>

In [56]:
data_5_long_dist = plane_oper_kpi_1.sort_values(['DistanceInKM','TotalJourneyTimeHRs'], ascending=False).head(5).round(0)
data_5_long_dist

,Origin,Dest,Distance,Year,Month,DayofMonth,DayOfWeek,WeekDay,Description,DistanceInKM,TotalJourneyTimeHRs,plane_tech_df_speed_in_km_hr,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,UniqueCarrier,FlightNum,TailNum,TaxiIn,TaxiOut,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,CarrierCode,Origin_city,Origin_state,Dest_city,Dest_state,Origin_iata,Origin_airport,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_country,Dest_lat,Dest_long,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year
1749290,EWR,HNL,4962,2008,2,21,4,Thru,Continental Air Lines Inc.,7984,12.0,687,1337.0,1320,2014.0,1920,697.0,660.0,664.0,54.0,17.0,CO,15,N67058,8.0,25.0,0,17.0,0.0,37.0,0.0,0.0,CO,Newark,NJ,Honolulu,HI,EWR,Newark Intl,USA,41.0,-74.0,HNL,Honolulu International,USA,21.0,-158.0,N67058,Corporation,BOEING,01/24/2002,767-424ER,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2002
1749295,EWR,HNL,4962,2008,3,20,4,Thru,Continental Air Lines Inc.,7984,12.0,691,1453.0,1320,2026.0,1820,693.0,660.0,641.0,126.0,93.0,CO,15,N67058,7.0,45.0,0,26.0,0.0,33.0,0.0,67.0,CO,Newark,NJ,Honolulu,HI,EWR,Newark Intl,USA,41.0,-74.0,HNL,Honolulu International,USA,21.0,-158.0,N67058,Corporation,BOEING,01/24/2002,767-424ER,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2002
1749325,EWR,HNL,4962,2008,2,22,5,Fri,Continental Air Lines Inc.,7984,12.0,686,1345.0,1320,2023.0,1920,698.0,660.0,648.0,63.0,25.0,CO,15,N67052,7.0,43.0,0,0.0,6.0,38.0,0.0,19.0,CO,Newark,NJ,Honolulu,HI,EWR,Newark Intl,USA,41.0,-74.0,HNL,Honolulu International,USA,21.0,-158.0,N67052,Corporation,BOEING,09/26/2000,767-424ER,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2000
1749344,EWR,HNL,4962,2008,3,21,5,Fri,Continental Air Lines Inc.,7984,12.0,674,1345.0,1320,1936.0,1820,711.0,660.0,655.0,76.0,25.0,CO,15,N66051,7.0,49.0,0,25.0,0.0,51.0,0.0,0.0,CO,Newark,NJ,Honolulu,HI,EWR,Newark Intl,USA,41.0,-74.0,HNL,Honolulu International,USA,21.0,-158.0,N66051,Corporation,BOEING,09/01/2000,767-424ER,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2000
1073604,HNL,EWR,4962,2008,3,2,7,Sun,Continental Air Lines Inc.,7984,11.0,723,2256.0,2245,1459.0,1310,663.0,565.0,578.0,109.0,11.0,CO,14,N69063,11.0,74.0,0,11.0,0.0,98.0,0.0,0.0,CO,Honolulu,HI,Newark,NJ,HNL,Honolulu International,USA,21.0,-158.0,EWR,Newark Intl,USA,41.0,-74.0,N69063,Corporation,BOEING,04/03/2002,767-424ER,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2002

In [57]:
plane_oper_kpi_1.groupby(['Description','DistanceInKM','TotalJourneyTimeHRs']).size().reset_index().rename(columns={0: 'CNT'}).sort_values(['DistanceInKM','TotalJourneyTimeHRs'],ascending = False).head(50)

                     Description  DistanceInKM  TotalJourneyTimeHRs  CNT
3535  Continental Air Lines Inc.          7984                 12.0    4
3534  Continental Air Lines Inc.          7984                 11.0   95
3533  Continental Air Lines Inc.          7984                 10.0   81
3532  Continental Air Lines Inc.          7984                  9.0   62
4213        Delta Air Lines Inc.          7244                 12.0    2
4212        Delta Air Lines Inc.          7244                 11.0   11
4211        Delta Air Lines Inc.          7244                 10.0  210
4210        Delta Air Lines Inc.          7244                  9.0  152
4209        Delta Air Lines Inc.          7244                  8.0   92
1461      American Airlines Inc.          6827                 10.0   28
9852       United Air Lines Inc.          6827                 10.0   14
1460      American Airlines Inc.          6827                  9.0  102
9851       United Air Lines Inc.          6827                  9.0   99
1459      American Airlines Inc.          6827                  8.0  108
9850       United Air Lines Inc.          6827                  8.0  120
9849       United Air Lines Inc.          6827                  7.0    6
9848       United Air Lines Inc.          6779                  8.0   73
9847       United Air Lines Inc.          6779                  7.0   11
9846       United Air Lines Inc.          6732                 11.0    1
9845       United Air Lines Inc.          6732                 10.0    3
9844       United Air Lines Inc.          6732                  9.0   72
9843       United Air Lines Inc.          6732                  8.0    9
6622     Northwest Airlines Inc.          6391                  9.0   76
6621     Northwest Airlines Inc.          6391                  8.0  143
6620     Northwest Airlines Inc.          6391                  7.0   22
3531  Continental Air Lines Inc.          6282                  9.0   46
3530  Continental Air Lines Inc.          6282                  8.0  345
3529  Continental Air Lines Inc.          6282                  7.0   93
1458      American Airlines Inc.          6088                 12.0    1
1457      American Airlines Inc.          6088                  9.0   69
1456      American Airlines Inc.          6088                  8.0  205
1455      American Airlines Inc.          6088                  7.0  206
1454      American Airlines Inc.          5971                  9.0   24
1453      American Airlines Inc.          5971                  8.0  100
1452      American Airlines Inc.          5971                  7.0  110
1451      American Airlines Inc.          5971                  6.0    5
9842       United Air Lines Inc.          5493                  8.0    7
9841       United Air Lines Inc.          5493                  7.0   20
9840       United Air Lines Inc.          5493                  6.0    4
1450      American Airlines Inc.          5448                  8.0   38
1449      American Airlines Inc.          5448                  7.0   16
1448      American Airlines Inc.          5448                  6.0   35
9839       United Air Lines Inc.          5414                  9.0    2
9838       United Air Lines Inc.          5414                  8.0   52
9837       United Air Lines Inc.          5414                  7.0  154
9836       United Air Lines Inc.          5414                  6.0   34
9835       United Air Lines Inc.          5356                  9.0    1
9834       United Air Lines Inc.          5356                  8.0    4
9833       United Air Lines Inc.          5356                  7.0   23
9832       United Air Lines Inc.          5356                  6.0    5





<font color='Blue'>Top 5 Shortest distange flight</font>

In [58]:
data_5_short_dist = plane_oper_kpi_1.sort_values(['DistanceInKM','TotalJourneyTimeHRs'], ascending=True).head(5).round(0)
data_5_short_dist

,Origin,Dest,Distance,Year,Month,DayofMonth,DayOfWeek,WeekDay,Description,DistanceInKM,TotalJourneyTimeHRs,plane_tech_df_speed_in_km_hr,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,UniqueCarrier,FlightNum,TailNum,TaxiIn,TaxiOut,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,CarrierCode,Origin_city,Origin_state,Dest_city,Dest_state,Origin_iata,Origin_airport,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_country,Dest_lat,Dest_long,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year
1516562,IAD,DCA,24,2008,1,2,3,Wed,Comair Inc.,39,1.0,42,1245.0,1025,1340.0,1125,55.0,60.0,11.0,135.0,140.0,OH,5610,N806CA,5.0,39.0,0,135.0,0.0,0.0,0.0,0.0,OH,Chantilly,VA,Arlington,VA,IAD,Washington Dulles International,USA,39.0,-77.0,DCA,Ronald Reagan Washington National,USA,39.0,-77.0,N806CA,Corporation,BOMBARDIER INC,12/27/2007,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Fan,None
1825783,SJC,SFO,30,2008,1,6,7,Sun,Continental Air Lines Inc.,48,1.0,83,2226.0,2200,2301.0,2240,35.0,40.0,11.0,21.0,26.0,CO,348,N56859,7.0,17.0,0,0.0,0.0,0.0,0.0,21.0,CO,San Jose,CA,San Francisco,CA,SJC,San Jose International,USA,37.0,-122.0,SFO,San Francisco International,USA,38.0,-122.0,N56859,Corporation,BOEING,04/27/2004,757-324,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2004
2130465,JFK,HPN,30,2008,1,8,2,Tue,JetBlue Airways,48,1.0,57,816.0,805,907.0,855,51.0,50.0,19.0,12.0,11.0,B6,9002,N236JB,5.0,27.0,0,NaN,NaN,NaN,NaN,NaN,B6,New York,NY,White Plains,NY,JFK,John F Kennedy Intl,USA,41.0,-74.0,HPN,Westchester Cty,USA,41.0,-74.0,N236JB,Corporation,EMBRAER,06/30/2006,ERJ 190-100 IGW,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2006
2234352,WRG,PSG,31,2008,1,21,1,Mon,Alaska Airlines Inc.,50,0.0,158,1040.0,1013,1059.0,1040,19.0,27.0,10.0,19.0,27.0,AS,65,N755AS,4.0,5.0,0,0.0,0.0,0.0,0.0,19.0,AS,Wrangell,AK,Petersburg,AK,WRG,Wrangell,USA,56.0,-132.0,PSG,James C. Johnson Petersburg,USA,57.0,-133.0,N755AS,Corporation,BOEING,12/22/1995,737-4Q8,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
2234354,WRG,PSG,31,2008,4,2,3,Wed,Alaska Airlines Inc.,50,0.0,111,1014.0,1013,1041.0,1040,27.0,27.0,17.0,1.0,1.0,AS,65,N755AS,3.0,7.0,0,NaN,NaN,NaN,NaN,NaN,AS,Wrangell,AK,Petersburg,AK,WRG,Wrangell,USA,56.0,-132.0,PSG,James C. Johnson Petersburg,USA,57.0,-133.0,N755AS,Corporation,BOEING,12/22/1995,737-4Q8,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992

In [59]:
plane_oper_kpi_1.groupby(['Description','DistanceInKM','TotalJourneyTimeHRs']).size().reset_index().rename(columns={0: 'CNT'}).sort_values(['DistanceInKM','TotalJourneyTimeHRs'],ascending = True).head(20)

                     Description  DistanceInKM  TotalJourneyTimeHRs  CNT
2511                 Comair Inc.            39                  1.0    1
3081  Continental Air Lines Inc.            48                  1.0    1
5169             JetBlue Airways            48                  1.0    1
455         Alaska Airlines Inc.            50                  0.0  145
456         Alaska Airlines Inc.            50                  1.0   30
6623       Skywest Airlines Inc.            58                  0.0    7
6624       Skywest Airlines Inc.            58                  1.0   51
6625       Skywest Airlines Inc.            66                  0.0   29
6626       Skywest Airlines Inc.            66                  1.0   13
6627       Skywest Airlines Inc.            76                  0.0    7
6628       Skywest Airlines Inc.            76                  1.0   36
6629       Skywest Airlines Inc.            76                  2.0    1
6630       Skywest Airlines Inc.            79                  0.0   77
2512                 Comair Inc.            79                  1.0    1
6631       Skywest Airlines Inc.            79                  1.0  798
6632       Skywest Airlines Inc.            80                  1.0    1
2513                 Comair Inc.            88                  1.0    2
6633       Skywest Airlines Inc.            88                  1.0    1
6051     Northwest Airlines Inc.            90                  0.0   21
6634       Skywest Airlines Inc.            90                  0.0  107

<font color='Blue'>Least Time in Air</font>

In [60]:
plane_oper_kpi_1.groupby(['AirTime']).size()

AirTime
10.0      69
11.0      54
12.0      85
13.0     243
14.0     514
        ...
655.0      1
658.0      1
664.0      1
823.0      1
886.0      1
Length: 638, dtype: int64

In [61]:
data_5_least_air_time = plane_oper_kpi_1.sort_values(['AirTime'], ascending=True).head(5).round(0)
data_5_least_air_time

,Origin,Dest,Distance,Year,Month,DayofMonth,DayOfWeek,WeekDay,Description,DistanceInKM,TotalJourneyTimeHRs,plane_tech_df_speed_in_km_hr,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,UniqueCarrier,FlightNum,TailNum,TaxiIn,TaxiOut,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,CarrierCode,Origin_city,Origin_state,Dest_city,Dest_state,Origin_iata,Origin_airport,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_country,Dest_lat,Dest_long,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year
1449267,JFK,BOS,187,2008,1,21,1,Mon,JetBlue Airways,301,1.0,322,2318.0,2245,14.0,2356,56.0,71.0,10.0,18.0,33.0,B6,1018,N630JB,4.0,42.0,0,18.0,0.0,0.0,0.0,0.0,B6,New York,NY,Boston,MA,JFK,John F Kennedy Intl,USA,41.0,-74.0,BOS,Gen Edw L Logan Intl,USA,42.0,-71.0,N630JB,Corporation,AIRBUS,12/22/2005,A320-232,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2005
1766304,HNL,OGG,100,2008,1,14,1,Mon,Mesa Airlines Inc.,161,1.0,225,2155.0,2200,2238.0,2235,43.0,35.0,10.0,3.0,-5.0,YV,1019,N646BR,16.0,17.0,0,NaN,NaN,NaN,NaN,NaN,YV,Honolulu,HI,Kahului,HI,HNL,Honolulu International,USA,21.0,-158.0,OGG,Kahului,USA,21.0,-156.0,N646BR,Corporation,BOMBARDIER INC,04/27/2000,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2000
2231609,HNL,ITO,216,2008,1,15,2,Tue,Aloha Airlines Inc.,348,1.0,417,525.0,510,615.0,601,50.0,51.0,10.0,14.0,15.0,AQ,40,N836AL,3.0,37.0,0,NaN,NaN,NaN,NaN,NaN,AQ,Honolulu,HI,Hilo,HI,HNL,Honolulu International,USA,21.0,-158.0,ITO,Hilo International,USA,20.0,-155.0,N836AL,Corporation,BOEING,08/08/2006,737-236,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1985
202653,OXR,LAX,49,2008,4,29,2,Tue,Skywest Airlines Inc.,79,1.0,110,1217.0,1230,1300.0,1311,43.0,41.0,10.0,-11.0,-13.0,OO,5458,N569SW,23.0,10.0,0,NaN,NaN,NaN,NaN,NaN,OO,Oxnard,CA,Los Angeles,CA,OXR,Oxnard,USA,34.0,-119.0,LAX,Los Angeles International,USA,34.0,-118.0,N569SW,Corporation,EMBRAER,06/04/2007,EMB-120ER,Valid,Fixed Wing Multi-Engine,Turbo-Prop,1998
1500762,ORF,IAD,157,2008,1,30,3,Wed,Mesa Airlines Inc.,253,1.0,257,1455.0,1500,1554.0,1559,59.0,59.0,10.0,-5.0,-5.0,YV,7241,N506MJ,6.0,43.0,0,NaN,NaN,NaN,NaN,NaN,YV,Norfolk,VA,Chantilly,VA,ORF,Norfolk International,USA,37.0,-76.0,IAD,Washington Dulles International,USA,39.0,-77.0,N506MJ,Corporation,BOMBARDIER INC,06/09/2003,CL-600-2C10,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002

<font color='Blue'>Most Time in Air</font>

In [62]:
data_5_most_air_time = plane_oper_kpi_1.sort_values(['AirTime'], ascending=False).head(5).round(0)
data_5_most_air_time

,Origin,Dest,Distance,Year,Month,DayofMonth,DayOfWeek,WeekDay,Description,DistanceInKM,TotalJourneyTimeHRs,plane_tech_df_speed_in_km_hr,ActlDepTime,SchdDepTime,ActlArrTime,SchdArrTime,TotalJourneyTime,SchdJourneyTime,AirTime,TotalDelayInArrival_mins,SchdDepDelay,UniqueCarrier,FlightNum,TailNum,TaxiIn,TaxiOut,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,CarrierCode,Origin_city,Origin_state,Dest_city,Dest_state,Origin_iata,Origin_airport,Origin_country,Origin_lat,Origin_long,Dest_iata,Dest_airport,Dest_country,Dest_lat,Dest_long,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,plane_build_year
1652544,HNL,SEA,2677,2008,4,27,7,Sun,Hawaiian Airlines Inc.,4307,15.0,286,1343.0,1340,748.0,2215,905.0,335.0,886.0,573.0,3.0,HA,22,N587HA,9.0,10.0,0,573.0,0.0,0.0,0.0,0.0,HA,Honolulu,HI,Seattle,WA,HNL,Honolulu International,USA,21.0,-158.0,SEA,Seattle-Tacoma Intl,USA,47.0,-122.0,N587HA,Corporation,BOEING,09/23/2002,767-33A,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002
1745085,LAS,HNL,2762,2008,3,6,4,Thru,Hawaiian Airlines Inc.,4444,14.0,319,906.0,905,2103.0,1315,837.0,370.0,823.0,468.0,1.0,HA,7,N585HA,5.0,9.0,0,468.0,0.0,0.0,0.0,0.0,HA,Las Vegas,NV,Honolulu,HI,LAS,McCarran International,USA,36.0,-115.0,HNL,Honolulu International,USA,21.0,-158.0,N585HA,Corporation,BOEING,05/10/2002,767-3G5,Valid,Fixed Wing Multi-Engine,Turbo-Jet,None
1749290,EWR,HNL,4962,2008,2,21,4,Thru,Continental Air Lines Inc.,7984,12.0,687,1337.0,1320,2014.0,1920,697.0,660.0,664.0,54.0,17.0,CO,15,N67058,8.0,25.0,0,17.0,0.0,37.0,0.0,0.0,CO,Newark,NJ,Honolulu,HI,EWR,Newark Intl,USA,41.0,-74.0,HNL,Honolulu International,USA,21.0,-158.0,N67058,Corporation,BOEING,01/24/2002,767-424ER,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2002
1749270,EWR,HNL,4962,2008,3,29,6,Sat,Continental Air Lines Inc.,7984,11.0,709,1317.0,1320,1833.0,1820,676.0,660.0,658.0,13.0,-3.0,CO,15,N66057,5.0,13.0,0,NaN,NaN,NaN,NaN,NaN,CO,Newark,NJ,Honolulu,HI,EWR,Newark Intl,USA,41.0,-74.0,HNL,Honolulu International,USA,21.0,-158.0,N66057,Corporation,BOEING,01/07/2002,767-424ER,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2002
1749344,EWR,HNL,4962,2008,3,21,5,Fri,Continental Air Lines Inc.,7984,12.0,674,1345.0,1320,1936.0,1820,711.0,660.0,655.0,76.0,25.0,CO,15,N66051,7.0,49.0,0,25.0,0.0,51.0,0.0,0.0,CO,Newark,NJ,Honolulu,HI,EWR,Newark Intl,USA,41.0,-74.0,HNL,Honolulu International,USA,21.0,-158.0,N66051,Corporation,BOEING,09/01/2000,767-424ER,Valid,Fixed Wing Multi-Engine,Turbo-Jet,2000